ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
ul li{
  border-bottom: 1px solid #fff;
  position: relative;
}
ul li .goTrashcan{
  position: absolute;
  right: 20px;
  top:30px;
}
ul li .faLink{
  position: absolute;
  right: 50px;
  top:30px;
}
ul li span .goTrashcanIcon, .faLinkIcon{
  color:#fff;
}
